//variables
$calculator-max-width: 500px;
$calculator-max-height: 700px;

//id selectors

#calculator {
  max-width: $calculator-max-width;
  max-height: $calculator-max-height;
  width: 100%;
  height: 100%;
  background-color: black;
}

//class selectors

//element selectors

html,
body {
  height: 100%;
  width: 100%;
}
