//variables
$calculator-max-width: 500px;
$calculator-max-height: 700px;

//id selectors

#calculator {
  max-width: $calculator-max-width;
  max-height: $calculator-max-height;
  color: red;
}

//class selectors

//element selectors
